*{
    margin:0;
    padding: 0;
}



#checkerboard {
    border: solid black 1px;
    width: 800px;
    height: 800px;
  }
  
  .black, .white {
    display: inline-block;
    height: 100px;
    width: 100px;
    float: left;
    
  }
  
  .black {
    background-color: black;
  }

   /*checkerboard */


   /* Flag CSS */
  .container {
    padding: 50px;
    background-color: black;
    
  }
  
  .flag {
    width: 360px;
    
    }


   
    img {
        width: 140px;
        height: 140px;
        margin-bottom: -4px;
      }
    }
    
      /* Flag CSS */